DOCKER_DB_EXTERNAL_PORT=3306
DOCKER_DB_ROOT_PASSWORD=32_length_no_special_chars_pass_
DOCKER_VOL_DB=../ac-database
DOCKER_IMAGE_TAG=local
DOCKER_USER_ID=1000
DOCKER_GROUP_ID=1000
DOCKER_USER=acore
DOCKER_VOL_ETC=./env/dist/etc
DOCKER_VOL_LOGS=./env/dist/logs
DOCKER_AC_ENV_FILE=conf/dist/env.ac
DOCKER_WORLD_EXTERNAL_PORT=8085
DOCKER_SOAP_EXTERNAL_PORT=7878
DOCKER_VOL_DATA=../ac-client-data
DOCKER_AC_MODULES=./modules
DOCKER_AC_SCRIPTS=./lua_scripts
DOCKER_AUTH_EXTERNAL_PORT=3724
DOCKER_AC_CLIENT_FOLDER=./var/client
DOCKER_VOL_ROOT=.
